body {
  font-family: "Lato", sans-serif
}

.square {
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-left: 40%;
}

.w3-container {
  max-width: "800px";
}

.text {
  padding-top: 64px !important;
}

.rgb {
  padding-top: 10px !important;
  padding-bottom: 30px !important;
}

.symbol {
  width: "30px";
  padding-left: 90px !important;
}

.network {
  padding-left: 120px !important;
  text-align: center;
}