body {
  font-family: "Lato", sans-serif
}

.square {
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-left: 40%;
}

.w3-container {
  max-width: 800px;
}

.text {
  padding-top: 64px !important;
}

.rgb {
  padding-top: 10px !important;
  padding-bottom: 30px !important;
}

.contacts {
  padding: 16px !important;
  font-size: 17px !important;
}

.symbol {
  padding-left: 50px !important;
}

.network {
  padding-left: 100px !important;
  padding-top: 16px !important;
  padding-top: 5px !important;
  text-align: center;
}

.created {
  font-size: 16px !important;
  text-align: center;
}

@media only screen and (max-device-width: 900px) {
  body {
    width: 98%;
    font-size: 13px !important;
  }

  h2 {
    margin-right: 2px !important;
    margin-left: 2px !important;
    font-size: 25px !important;
  }

  .text {
    /* padding-left: 50px !important; */
  }

  .square {
    margin-left: 25%;
  }

  h3 {
    font-size: 20px !important;
  }

  .contacts {
    padding: 16px !important;
  }

  .symbol {
    padding-left: 20px !important;
    font-size: 13px !important;
    /* text-align: center; */
  }

  .network {
    padding-left: 50px !important;
    padding-top: 10px !important;
    text-align: center;
  }

  .contacts {
    font-size: 14px !important;
    padding-left: 10px !important;
  }

  .created {
    font-size: 13px !important;
    text-align: center;
  }


}